@use 'src/shared/styles/variables.scss' as vars;
@use 'src/shared/styles/mixins.scss' as mixins;

.infoModal__buttons {
	@include mixins.flex(center, center);
	flex-direction: column;
	gap: 12px;
	width: 100%; 

	@include mixins.media('tablet') {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap; 
		gap: 20px;
		width: 100%;
		margin-top: 20px;
	}

	@include mixins.media('desktop') {
		gap: 24px;
	}
}
.infoModal__contact,
.infoModal__addTo,
.infoModal__removeFrom,
.infoModal__download {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	width: 200px; 
	height: 48px;
	outline: none;
	padding: 10px 16px;
	border-radius: 40px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	transition: vars.$transition;
	white-space: nowrap; 

	@include mixins.media('tablet') {
		width: 200px;
	}

	@include mixins.media('desktop') {
		width: 220px;
	}
}

.infoModal__addTo {
	background-color: vars.$secondary-bg-color;
	color: vars.$fifth-text-color;
	border: 2px solid vars.$accent-color;

	&:hover {
		border-color: vars.$hover-color;
	}
}

.infoModal__removeFrom {
	@extend .infoModal__addTo;
}

.infoModal__contact {
	background-color: vars.$accent-color;
	color: vars.$secondary-text-color;
	border: 2px solid vars.$accent-color;

	&:hover {
		background-color: vars.$hover-color;
		border-color: vars.$hover-color;
	}
}

.infoModal__download {
	background-color: vars.$secondary-bg-color;
	color: vars.$fifth-text-color;
	border: 2px solid vars.$accent-color;

	&:hover {
		background-color: vars.$hover-color;
		color: vars.$secondary-text-color;
		border-color: vars.$hover-color;
	}
}

.infoModal__addToIcon {
  stroke: vars.$accent-color; 
  fill: none; 
  transition: vars.$transition;

  &:hover {
    stroke: vars.$hover-color;
  }
}

.infoModal__removeIcon {
  fill: vars.$accent-color;
  transition: vars.$transition;

  &:hover {
    fill: vars.$hover-color;
  }
}
